* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(216, 28%, 7%);
  color: #f0f6fc;
  .App {
    display: flex;
    flex-direction: column;
    .header {
      text-align: center;
      background-color: #161b22;
      height: 62px;
      h1 {
        line-height: 62px;
      }
    }
    .nav-bar {
      color: #6e7681;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 25px;
      border-bottom: 1.5px solid #202731;
      a {
        text-decoration: none;
        color: #6e7681;
      }
      h3 {
        padding: 15px;
        font-weight: 500;
        margin: 0 20px;
      }
      h3:hover {
        cursor: pointer;
        color: #abb6c5;
      }
      .selected {
        color: #f0f6fc;
        border-bottom: solid 2.5px orange;
      }
    }
    .home-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .search-bar {
        // border-bottom: 1.5px solid #202731;
        height: 65px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          color: #f0f6fc;
          height: 32px;
          width: 50%;
          background-color: transparent;
          border: 1.5px solid #202731;
          outline: none;
          border-radius: 7.5px;
          padding: 0 10px;

          // font-size: 25px;
        }
      }
      .bdr {
        width: 100%;
        border-bottom: 1.5px solid #202731;
      }
      .empty {
        font-size: 32px;
        color: #6e7681;
      }
      .project-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        border-bottom: 1.5px solid #202731;
        color: #7c8491;

        .name {
          font-size: 20px;
          font-weight: 500;
          color: #58a6ff;
          padding: 0 15px;
          text-align: left;
          margin: 5px 0;
        }
        .name:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        .description {
          margin: 5px 0;
          padding: 0 15px;
        }
        .info {
          margin: 5px 0;
          padding: 0 15px;
          padding-bottom: 10px;
          font-size: 14px;
          display: flex;
          flex-direction: row;
          .author {
            padding: 0 10px;
          }
          .date {
            padding: 0 10px;
          }
        }
      }
    }
    .add-product-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #c9d1d9;
      .heading {
        font-size: 24px;
        width: 60%;
        border-bottom: 1.5px solid #202731;
        padding: 20px 20px;
      }
      .input-box {
        padding: 20px 0;
        width: 60%;
        display: flex;
        flex-direction: column;
        .required {
          color: red;
        }
        input {
          color: #f0f6fc;
          height: 32px;
          width: 50%;
          background-color: transparent;
          border: 1.5px solid #202731;
          outline: none;
          border-radius: 7.5px;
          margin-top: 7.5px;
          margin-bottom: 10px;
          margin-left: 2.5%;
          padding: 0 10px;
        }
        input:focus {
          box-shadow: 0 0 5px 1.5px #58a6ff;
        }
        textarea {
          color: #f0f6fc;
          width: 60%;
          height: 125px;
          resize: none;
          background-color: transparent;
          border: 1.5px solid #202731;
          outline: none;
          border-radius: 7.5px;
          margin-top: 7.5px;
          margin-bottom: 10px;
          margin-left: 2.5%;
          padding: 10px 10px;
        }
        textarea:focus {
          box-shadow: 0 0 5px 1.5px #58a6ff;
        }
        button {
          margin-top: 7.5px;
          margin-bottom: 10px;
          margin-left: 2.5%;
          height: 32px;
          width: 20%;
          border: 1.5px solid #202731;
          outline: none;
          font-weight: 600;
          border-radius: 7.5px;
          background-color: #238636;
          color: white;
        }
        button:hover {
          cursor: pointer;
          background-color: #2db147;
        }
      }
    }
    .project-details-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #7c8491;
      h2 {
        color: #58a6ff;
        width: 80%;
        margin-top: 10px;
        font-weight: 500;
        text-align: left;
      }
      .description {
        margin-top: 15px;
        width: 80%;
      }
      .info-btn {
        margin-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        border-bottom: 1.5px solid #202731;
        .info {
          display: flex;
          flex-direction: row;
          .author {
            margin-right: 15px;
          }
        }
      }

      .input-box {
        padding: 20px 0;
        width: 60%;
        display: flex;
        flex-direction: column;
        .required {
          color: red;
        }
        input {
          color: #f0f6fc;
          height: 32px;
          width: 50%;
          background-color: transparent;
          border: 1.5px solid #202731;
          outline: none;
          border-radius: 7.5px;
          margin-top: 7.5px;
          margin-bottom: 10px;
          margin-left: 2.5%;
          padding: 0 10px;
        }
        input:focus {
          box-shadow: 0 0 5px 1.5px #58a6ff;
        }
        textarea {
          color: #f0f6fc;
          width: 60%;
          height: 50px;
          resize: none;
          background-color: transparent;
          border: 1.5px solid #202731;
          outline: none;
          border-radius: 7.5px;
          margin-top: 7.5px;
          margin-bottom: 10px;
          margin-left: 2.5%;
          padding: 10px 10px;
        }
        textarea:focus {
          box-shadow: 0 0 5px 1.5px #58a6ff;
        }
        .labels {
          display: flex;
          flex-direction: row;
          h4 {
            margin: 10px 10px;
            padding: 5px;
            border: 1.5px solid #202731;
            border-radius: 7.5px;
          }
          .selected {
            color: orange;
            background-color: rgba(255, 166, 0, 0.185);
          }
          h4:hover {
            cursor: pointer;
            background-color: rgba(255, 166, 0, 0.185);
          }
        }
      }

      button {
        margin-top: 10px;
        // margin-bottom: 10px;
        margin-left: 2.5%;
        height: 32px;
        width: 20%;
        border: 1.5px solid #202731;
        outline: none;
        font-weight: 600;
        border-radius: 7.5px;
        // background-color: #238636;
        background-color: #161b22;
        color: white;
      }
      button:hover {
        cursor: pointer;
        background-color: #1f2630;
      }
      .active {
        background-color: #238636;
      }
      .search-bar {
        // border-bottom: 1.5px solid #202731;
        border-bottom: 1.5px solid #202731;
        height: 65px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          color: #f0f6fc;
          height: 32px;
          width: 50%;
          background-color: transparent;
          border: 1.5px solid #202731;
          outline: none;
          border-radius: 7.5px;
          padding: 0 10px;

          // font-size: 25px;
        }
      }
      .label-bar {
        // height: 50px;
        width: 80%;
        border-bottom: 1.5px solid #202731;
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        justify-content: space-evenly;
        h3 {
          padding: 5px;
          border: 1.5px solid #202731;
          border-radius: 7.5px;
        }
        h3:hover {
          cursor: pointer;
          background-color: #58a6ff2c;
          color: #58a6ff;
        }
      }
      .noissues {
        font-size: 32px;
        margin-top: 25px;
      }
      .issue-container {
        background-color: #161b22;
        display: flex;
        flex-direction: column;
        width: 80%;
        border-radius: 10px;
        margin-top: 15px;
        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          height: 40px;
          h3 {
            // line-height: 55px;
            // margin: 5px;
            padding: 5px 15px;
          }
          .reslove {
            font-weight: 500;
            border: 1.5px solid #202731;
          }
          .reslove:hover {
            background-color: #238636;
            color: white;
            cursor: pointer;
          }
          border-bottom: 1.5px solid #202731;
        }

        .description {
          width: 90%;
          padding: 5px 15px;
          margin-top: 0px;
        }
        .author {
          padding: 5px 15px;
          margin-top: 0px;
          font-size: 14px;
        }
        .labels {
          // width: 80%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: left;
          margin-bottom: 5px;
          margin-top: 5px;

          div {
            margin: 0 10px;
            padding: 2.5px 10px;
            border-radius: 7.5px;
          }
          .bug {
            color: #d73a4a;
            background-color: #d73a4a2f;
          }
          .invalid {
            color: #e4e669;
            background-color: #e4e66934;
          }
          .wontfix {
            color: #ffffff;
            background-color: #ffffff3d;
          }
          .documentation {
            color: #0075ca;
            background-color: #0076ca3f;
          }
          .duplicate {
            color: #d876e3;
            background-color: #d876e33b;
          }
          .enhancement {
            color: #a2eeef;
            background-color: #a2eeef3d;
          }
        }
      }
    }
  }
}
